# /etc/systemd/system/el.service

[Unit]
Description=el.simongray.dk

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/opt/el
ExecStart=/usr/bin/java -jar el.jar

[Install]
WantedBy=multi-user.target
